<div class="user" id="paginate_{{user.id}}">
	<a ng-href="/users/{{user.id}}">
		<div>
			<div>
				<div><img ng-src="{{user.avatar_url}}" /></div>
				<div><h6>{{user.name}}</h6></div>
			</div>
			<div><b title="login">L</b> : @{{user.login}} </div>
			<div><b title="alias">A</b> : Alias name</div>
			<div><b title="phone">P</b> : {{user.phone}} </div>
			<div><b title="email">E</b> : {{user.email}} </div>

			<div class="rel"><b title="relation">R</b>: relation</div>
		</div>
	</a>			
</div><!-- content -->

<!---  <div class="blue-tag"></div>  tag -->
<div></div> <!-- background -->
