<div class="chat" id="paginate_{{chat.id}}">
	<a ng-href="/chats/{{chat.id}}">
		<div>
			<div><div>owner_id: {{chat.user}} </div></div>
			<div><div>display: {{chat.display}} </div></div>
			<div><div>Last Message: {{chat.extra.message.content}} </div></div>
			<div><div>Message Extra: {{chat.extra.message.extra}} </div></div>
			<div><div>read: {{chat.extra.read}} </div></div>
		</div>
	</a>			
</div><!-- content -->

<!---  <div class="blue-tag"></div>  tag -->
<div></div> <!-- background -->
