<%= provide :title, 'About' %>


<div class="top-row">

	<div>
		<div><h1>Pages#about</h1>
			<p>Find me in app/views/pages/about.html.erb</p>
			<p>1 + 1 = {{1 + 1 }} </p>
			<p>test =  {{content.data.values.test}}</p>
			<p>topbar.page.url = {{content.topbar.page.url}}</p>
			<div class="draw" details="add" title="more"><i></i></div> 
		</div>

		<div></div> <!-- background-->
	</div> <!-- end cell -->



	<div>
		<div> #details=show#
		<pre>app.flash = {{ app.flash }}</pre>
			<div class="draw" details="show" title="more"><i></i></div>
		</div>



		<div class="slide">
			<div>This is #details=show#</div>
			
			<div class="bg"></div>
		</div> <!-- slide info -->


		<div></div> <!-- background-->
	</div> <!-- end cell -->


</div>




<div class="main">
	<div> <!-- cell -->
		<div> This is  1st slide - #details=add#
			<div class="draw" details="add" title="more"><i></i></div> 
		</div><!-- content -->

		<div class="blue-tag"></div> <!-- tag -->
		<div></div> <!-- background -->
	</div>



	<div>
		<div>this is 2nd cell - #details=add#
			<div class="draw" details="add" title="more"><i></i></div>
		</div>
		<div class="orange-tag"></div>
		<div></div>
	</div>

	<div>
		<div>this is 3rd cell - details#show
			<div class="draw" details="show" title="more"><i></i></div>
		</div>
		<div class="slide">
			<div>Action :: 3rd cell #details=show#  xxxx</div>
			
			<div class="bg"></div>
		</div>
		<div></div>
	</div>



	<div>
		<div>
			this is 4th cell - #details=add#
			<div class="draw" details="add" title="more"><i></i></div>
		</div>

		<div></div>
	</div>
</div>


<div class="main">
	<div>
		<div>This is #details=show#
			<div class="draw" details="show" title="more"><i></i></div>
		</div>
		


		<div class="slide">
			<div>Action :: #details=show#  xxxx</div><div class="bg"></div>
		</div>


		<div class="blue-tag"></div>

		<div></div>
	</div>
</div>

<div class="red row">
	<div class="columns small-1 lime"> 1</div>
	<div class="columns small-2 lime"> 2</div>
	<div class="columns small-3 lime"> 3</div>
	<div class="columns small-4 lime">4</div>
	<div class="columns small-2 lime">2</div>
</div>


