<div class="top-row">

	<div>
		<div><h1>About</h1>			
			{{content.j.vs.view}}
			
			<div class="draw" details="add" title="more"><i></i></div> 
		</div>

		<div></div> <!-- background-->
	</div> <!-- end cell -->



	<div>
		<div> #details=show#
			<ul>
				<li><a ng-href="/users">Ng-HREF /users</a></li>
				<li><a href="/home">Normal Href link</a></li>
				<li><a>Update User1 relation -> Block</a></li>

				<li><a href="/relationships/2?o=2&amp;op=0&amp;ptype=21" data-method="put" data-remote="true" rel="nofollow" class="">un-Friend - put - remote</a></li>

				<li><a href="/relationships/2?o=2&amp;op=0&amp;ptype=21" data-method="put"  rel="nofollow" class="">un-Friend - put</a></li>

				<li><a href="/relationships/2?o=2&amp;op=0&amp;ptype=21"  rel="nofollow" class="">un-Friend - index</a></li>

				<li><span ng-click="content.syncURL(this)" >Update URL</span></li>


			</ul>
			<div class="draw" details="show" title="more"><i></i></div>
		</div>



		<div class="slide">
			<div>This is #details=show#</div>
			
			<div class="bg"></div>
		</div> <!-- slide info -->


		<div></div> <!-- background-->
	</div> <!-- end cell -->


</div>




<div class="main">
	<div> <!-- cell -->
		<div> This is  1st slide - #details=add#
			<div class="draw" details="add" title="more"><i></i></div> 
		</div><!-- content -->

		<div class="blue-tag"></div> <!-- tag -->
		<div></div> <!-- background -->
	</div>



	<div>
		<div>this is 2nd cell - #details=add#
			<div class="draw" details="add" title="more"><i></i></div>
		</div>
		<div class="orange-tag"></div>
		<div></div>
	</div>

	<div>

		<div>this is 3rd cell - details#show
			<div class="draw" details="show" title="more"><i></i></div>
		</div>
		
		

		<div class="slide">
			<div>Action :: 3rd cell #details=show#  xxxx</div>
			
			<div class="bg"></div>
		</div>

		<div class="orange-tag"></div>
		<div></div>
	</div>



	<div>
		<div>
			this is 4th cell - #details=add#
			<div class="draw" details="add" title="more"><i></i></div>
		</div>

		<div></div>
	</div>
</div>


<div class="main">
	<div> 
		<div>This is #details=show#
			<div class="draw" details="show" title="more"><i></i></div>
		</div>
		


		<div class="slide">
			<div>Action :: #details=show#  xxxx</div><div class="bg"></div>
		</div>


		<div class="blue-tag"></div> <!-- tag -->

		<div></div>
	</div> <!-- cell -->
</div>

<div class="red row">
	<div class="columns small-3 lime"> 1</div>
	<div class="columns small-3 lime"> 2</div>
	<div class="columns small-3 lime"> 3</div>
</div>