<div class="top-row" >
	<div>
		<div><h1>Search</h1>			
			<form accept-charset="UTF-8" action="/search" method="get" name="lookup" id="lookup" >
				<div class="hidden">
					<input name="utf8" type="hidden" value="&#x2713;" />
					<input name="authenticity_token" type="hidden" ng-value="content.j.vs.token" />
				</div>
				<div class="fields">
					<div>
						<div><label for="type">Type</label></div>
						<div><input id="type" name="type" type="text" ng-model="content.j.vs.view.data.main.pack.type" /></div>	
					</div>

					<div>
						<div><label for="term" >Term</label></div>
						<div><input id="term" name="1" type="text" ng-model="content.j.vs.view.data.main.pack.term" /></div>
					</div>
				</div>
				
				<hr class="submit" />
				<div class="submit-buttons small"><div><ul class="small-block-grid-2">
					<li><input name="commit" type="submit" value="Find" 
						ng-click="content.send($event, {url: '/search', method: 'get', params: content.formAddToken(content.j.vs.view.data.main.pack)} )" /></li>
					<li><button type="reset">Reset</button></li>
					
				</div></ul></div>


			</form>
			<!-- <div class="draw" details="add" title="more"><i></i></div>  -->
		</div>

		<div></div> <!-- background-->
	</div> <!-- end cell -->



	<div>
		<div>Search Result
			<ul>
				<li>Type : {{content.j.vs.view.data.main.pack.type}}</li>
				<li>Term : {{content.j.vs.view.data.main.pack.term}}</li>
				<li>Size : {{content.j.vs.view.data.main.pack.result.length}}</li>
			</ul>
			<div class="draw" details="show" title="more"><i></i></div>
		</div>



		<div class="slide">
			<div>This is #details=show#</div>
			
			<div class="bg"></div>
		</div> <!-- slide info -->


		<div></div> <!-- background-->
	</div> <!-- end cell -->


</div>



<div class="main" id="results">
	<div ng-repeat="record in content.j.vs.view.data.main.pack.result" ng-include="'/assets/search/record.html'"></div> <!-- cell -->
</div>

